.header
    &__nav
        padding: 5px 0
        &-container
            @extend .container
        &-top
            display: flex
            justify-content: space-between
            align-items: center
        &-block
            display: flex
            gap: 41px
        &-input
            color: #494949
            &-block 
                display: flex
                gap: 12px
                align-items: center
        &-info
            display: flex
            gap: 16px